/*��ҳͷ��*/
div,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,li{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
}
a{
    text-decoration: none;
}

body {
    font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.container{
    text-align: center;
    width:100%;
    height: 100%;
}

.container > .row {
    height: 100%;
}

.bg-model {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*z-index: 1000;*/
    /*background: rgba(0,0,0,1);*/
    transition: all .3s linear;
}
/*#header-bar{*/
/*height:55px;*/
/*border-bottom: 1px solid #ccc;*/
/*background-image: linear-gradient(to bottom,#fcfcfc,#e2e2e2);*/
/*line-height: 53px;*/
/*text-align: center;*/
/*}*/
.fl{
    float:left;
}
.fr{
    float:right;
}
.clear{
    clear:both;
}


/* ����ҳ�� */
/* ����� */
#aside {
    position:relative;
    background: rgba(51,54,63,1);
    height: 100%;
    overflow-y: auto;
    /*max-width: 240px;*/
}

#logo {
    height:140px;
}

#logo > a {
    height: 100%;
    width: 100%;
    background: url('../img/new-logo.png') no-repeat center;
    /*-webkit-background-size: contain;*/
    /*background-size: contain;*/
}

#aside img {
    /*width: 60%;*/
    margin: 10px auto;
    margin-top: 25px;
    /*margin-bottom: 10px;*/
    /*border-radius: 50%;*/
}

#aside .panel-body {
    border-bottom: none;
}


/* ͸������ķָ��� */
.black-line {
    height:1px;
    background-image: linear-gradient(to right,transparent,#080808,transparent);
}

.white-line {
    /*border-top: 1px solid #666;*/
    height: 1px;
    background-image: linear-gradient(to right,transparent,#666,transparent);
}

/*#menu {*/
/*margin: 0 -15px;*/
/*padding: 0 15px;*/
/*}*/

#menu > li {
    margin: 0 -15px;
    padding: 0 15px;
    font-size: 1em;
    text-align: left;
    color: #ddd;
}

#menu a {
    position: relative;
    margin: 0 -15px;
    padding: 0 7% 0 12%;
    line-height: 40px;
    display: block;
    color: #aaa;
    /*border-top: 1px solid transparent;*/
    /*border-bottom: 1px solid transparent;*/
    /*background-color: transparent;*/
    z-index: 100;
}

/*#menu a > span {*/
/*display: inline-block;*/
/*padding: 1% 3% 0 0;*/
/*font-size: 0.5em;*/
/*line-height: 30px;*/
/*}*/

#menu a > span:first-child {
    float: left;
    margin: 10px 7% 0 0;
    height: 20px;
    width: 20px;
    background-size: contain;
}

#menu a:hover > span:first-child {
    background-size: contain;
}

.game0 {
    background: url('../img/images/game0.png');

}

#acct-manage:hover .game0 {
    background: url('../img/images/game0-1.png');
}

.game1 {
    background: url('../img/images/game1.png');
}

#user-manage:hover .game1 {
    background: url('../img/images/game1-1.png');
}

.game2 {
    background: url('../img/images/game2.png');
}

#show-g1:hover .game2 {
    background: url('../img/images/game2-1.png');
}

.game3 {
    background: url('../img/images/game3.png');
}

#show-g2:hover .game3 {
    background: url('../img/images/game3-1.png');
}

.game4 {
    background: url('../img/images/game4.png');
}

#show-g3:hover .game4 {
    background: url('../img/images/game4-1.png');
}

.game5 {
    background: url('../img/images/game5.png');
}

#run-log:hover .game5 {
    background: url('../img/images/game5-1.png');
}

.game6 {
    background: url('../img/images/game6.png');
}

#show-g5:hover .game6 {
    background: url('../img/images/game6-1.png');
}

.game7 {
    background: url('../img/images/game7.png');
}

#show-g6:hover .game7 {
    background: url('../img/images/game7-1.png');
}

#menu a > span:last-child {
    width: 12px;
    height:12px;
    margin-top: 14px;
}

.right-arrow {
    background: url('../img/images/right.png');
}

.down {
    background: url('../img/images/down.png');
}

/*#menu a > span.hide {*/
/*opacity: 0;*/
/*}*/

/*#menu li:hover,*/
/*#menu li:hover a {*/
/*color: #41c4b9;*/
/*text-decoration: none;*/
/*}*/

#menu > li:hover > a {
    background: rgba(31,34,43,1);
    color: #5FAEE2;

    text-decoration: none;
}

#menu > li ul {
    height: 0;
    margin: 0 -15px;
    overflow: hidden;
}

#menu > li ul.show li{
    opacity: 1;
}

#menu > li li {
    line-height: 40px;
    padding-left: 35%;
    margin: 0 -15px;
    height: 40px;
    /*overflow: hidden;*/
    opacity: 0;
    text-align: left;
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}

#menu  ul  a {
    padding: 0;
    margin: 0;
    /*border: none;*/
    text-decoration: none;
}


#menu li li:hover{
    background: rgba(41,44,53,1);
    padding-left: 40%;
}

#menu li li:hover a {
    /*background: #fa8564;*/
    color: #5FAEE2;
}

#menu li li.active,
#menu .no-sub.active {
    background: rgba(41,44,53,1);
}

#menu li li.active a,
#menu .no-sub.active a {
    color: #5FAEE2;
}

#menu .no-sub.active .game1 {
    background-image: url('../img/images/game1-1.png');
}

#menu .no-sub.active .game0 {
    background-image: url('../img/images/game0-1.png');
}
#menu .no-sub.active .game5 {
    background-image: url('../img/images/game5-1.png');
}

/* ����ҳ�� */
#main {
    background: #f1f1f1;
    height: 100%;
}

#content {
    overflow: auto;
}

/* ͷ��header */
#header {
    position: relative;
    height: 55px;
    line-height: 54px;
    /*font-family: 'NSimSun', Helvetica, Tahoma, Arial, sans-serif;*/
    /*background: url('../img/title.png') no-repeat 50%;*/
    font-size: 25px;
    font-weight: bold;
    color: #777;
    border-bottom: 2px solid #ccc;
    background-image: linear-gradient(to bottom,#fcfcfc,#e2e2e2);
    text-align: center;
}

/* �۵���ť */
#menu-button {
    width: 40px;
    height: 40px;
    margin-top: 6px;
    cursor: pointer;
    background: url('../img/images/menu.png');
}

#manager {
    position: relative;
    height: 100%;
}


#manager  a {
    display: block;
    text-align: center;
    line-height:53px;
    font-size: 16px;
    font-weight: normal;
    color: #666;
    text-decoration: none;
    cursor:pointer;
}

#manager .user {
    padding: 0 10px;
}

/*#manager .user.choosed {*/
/*background: #ddd;*/
/*}*/

#manager .user:hover{
    background: #ddd;
}

#manager .user:hover a {
    color: #5FAEE2;
}

.user > span {
    cursor: pointer;
}

#admin {
    /*width: 32px;*/
    padding-right: 5px;
}

#user-message {
    position: absolute;
    right:0;
    top:20px;
    z-index: -1;
    width: 160px;
    height: 76px;
    padding: 5px 0;
    border: 1px solid #bbb;
    border-radius: 5px;
    opacity: 0;
    background: #fff;
    box-shadow: 0 2px 5px 2px #ccc;
    color: #666;
    font-size: 14px;
    font-weight: normal;
}

#user-message div {
    padding: 0 10px;
    border: 1px solid transparent;
    line-height: 30px;
    text-align: left;
    cursor: pointer;
}

#message #user-message > div:hover {
    background: #5FAEE2;
    box-shadow: 1px 1px 1px 1px #aaa;
}

#user-message span {
    margin-right: 10px;
    padding-left:24px;
    height: 30px;
}

#user-message .user-icon1 {
    background: url('../img/images/pwd.png') no-repeat center ;
    background-size: contain;
}

#user-message .user-icon2 {
    background: url('../img/images/power.png') no-repeat center;
    background-size: contain;
}

#user-message .user-icon3 {
    background: url('../img/images/place.png') no-repeat center;
    background-size: contain;
}

/* ����ͼ */
#tree {
    height: 100%;
    width: 31px;
    margin-right: 10px;
    cursor: pointer;
    background: url('../img/images/tuopu.png') no-repeat center 60%;
}



/*#header > a:first-child {*/
/*padding-right: 5px;*/

/*}*/

/*#header > a:last-child {*/
/*margin-top: 1px;*/
/*}*/

/*.icon-number {*/
/*position: absolute;*/
/*top: 18%;*/
/*right: 66px;*/
/*width: 16px;*/
/*height: 12px;*/
/*border-radius: 6px;*/
/*line-height: 12px;*/
/*background: darkorange;*/
/*font-size: 6px;*/
/*color: #fff;*/

/*}*/

/*.notice {*/
/*position: absolute;*/
/*top: 20px;*/
/*right: 8%;*/
/*height: 0;*/
/*width: 200px;*/
/*border: 1px solid #bbb;*/
/*border-radius: 5px;*/
/*box-shadow: 0 2px 5px 2px #ccc;*/
/*background: #fff;*/
/*font-size: 16px;*/
/*line-height: 40px;*/
/*opacity: 0;*/
/*overflow: hidden;*/
/*cursor: pointer;*/
/*}*/




/* ͼ����ʾ�����Ҫ����Ϊshow-detail.css */
